.formacao-background{
    background: #161616;
}
.formacao{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    color: #c5c5c5;
    position: relative;
}
.formacao .subtitulo{
    color: #090909;
    max-width: 5ch;
}
.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    max-width: 40ch;
}
.formacao-texto strong{
    color: #f1f1f1;
}
.faculdade-lista, .cursos ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}
.faculdade-lista li{
    flex: 1;
    background: #090909;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.faculdade-lista li span{
    font-size: .875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}
.faculdade-lista li h3{
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}
.faculdade-lista li h3::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -24px;
}
.faculdade-lista li p{
    font-size: 1.125rem;
    color: #a3a3a3;
    text-transform: uppercase;
}
.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.formacao-extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/cursos.svg") no-repeat center;
    position: absolute;
    left: -36px;
    top: -4px;
}
.idiomas h3::before{
    background: url("../img/idiomas.svg") no-repeat center;
}
.formacao-extra ul{
    display: block;
}
.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}
.formacao-extra span{
    color: #8f8f8f;
}
.cursos li{
    display: flex;
    justify-content: space-between;
}
.formacao::after{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}
@media (max-width: 800px){
    .formacao{
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 60px 20px;
    }
    .formacao .subtitulo{
        color: #f1f1f1;
    }
    .formacao-texto{
        font-size: 1.125rem;
    }
    .formacao-extra h3::before{
        position: initial;
        margin-bottom: 10px;
    }
}